* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    background:#187257;
    height: 80px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 1.2rem;
    position:sticky;
    top:0;
    z-index:999;
    font-family: 'Kumbh Sans', sans-serif;

}

.navbar__container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background:#187257;
    display:flex;
    align-items: center;
    cursor:pointer;
    text-decoration: none;
    font-size: 1.5rem;
    color: #FEDFE7;
    font-family: 'Kumbh Sans', sans-serif;

}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display:flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color:#FEDFE7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 16px;
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;

}

.navbar__links:hover{
    font-size:1.3rem;
    transition: all 0.3s ease;
}

@media screen and (max-width:960px){
    .navbar__container{
        display:flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.3s ease;
        height: 50vh;
        z-index: -1;
        background: #187257;
    }

    .navbar__menu.active{
        background:#187257;
        top: 100%;
        opacity: 1;
        transition: all 0.3s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;

    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #FEDFE7;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display:table;
    
    }

    #mobile-menu{
        position:absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        transform: scale(1.2rem);
        transition: all 0.3s ease;
    }
    
    #mobile-menu.is-active .bar:nth-child(1){
        transform: scale(1.2rem);
        transition: all 0.3s ease;
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: scale(1.2rem);
        transition: all 0.3s ease;
    }

}

/* Hero Section CSS */

.main{
    background-color: #187257;
    min-height: 450px;
    position: relative;
    background-size: cover;
}


.homeflower{
    max-width: 100%;
    height: auto;
    padding: 0 50px;

}

.main__container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color:#187257;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: calc(3rem + 0.390625vw);
    background-color: #FEDFE7;
    background-size:100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: 'Arvo', serif;
}

.main__btn {
    font-size: 1.3rem;
    background-color: #FEDFE7;
    padding: 16.8px 38.4px;
    border: none;
    border-radius: 1.8rem;
    color: black;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: black;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top:0;
    width: 0;
    height: 100%;
    transition: 0.3s;
    border-radius: 1.7rem;
}

.main__btn:hover {
    font-size: 1.4rem;
    transition: all 0.3s; 
}

/* what is colah section */
.whatis{
    background-color: #F4EFEC;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.whatis img {
    max-width: 320px;
    float: left;
    border:#187257;
    border-radius: 4px;
    margin-right: 2.5rem;
    margin-top: 2rem;

}

.whatis .textbox{
    margin-right: 3rem;
    margin-top: 6rem;
}

.whatis .textbox h1{
    font-family: 'Kumbh Sans', sans-serif;
    color: #147256;
    font-size: 2.5rem;
}

.whatis .textbox p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #147256;
    line-height: 1.5rem;
    font-size: 0.9rem;

}

@media(max-width:700px){
    .whatis{
        flex-direction:column;
    }
}

/***colah news**/


.aboutus{
    width: 100%;
    color: #187257;
    margin: auto;
    text-align:center;
    padding-top: 53px;
    background-color: #F4EFEC; 
        h1{
        font-size:30px;
        color:rgb(0, 0, 0);
        font-weight:600;
        font-family: 'Kumbh Sans', sans-serif;
        }
    }

p{
    font-size:14px;
    font-weight:300;
    line-height:22px;
    padding:10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    

}

.row{
    margin: top 20%;
    display:flex;
    justify-content: space-between;
}
.about-col{
    flex-basis:31%;
    background-color: #F4EFEC;
    border-radius:10px;
    margin-bottom:10%;
    padding:20px 12px;
    box-sizing:border-box;
    transition:0.4s;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-bottom: 3%;
}
h3{
    text-align:center;
    font-weight:600;
    margin: 10px 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.about-col:hover{
    font-size: 120%;
}

.about-col img {
    max-width: 120px;
    max-height: 120px;
    align-items: center;
    padding-right: 1rem;
  
}

@media(max-width:700px){
    .row{
        flex-direction:column;
    }
}

/***meet the team page***/

.meettheteam{
    background-color: #F4EFEC;
}

.meettheteam h1{
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    padding-top: 3%;
    font-size: 3rem;
    color: #147256;
    padding-bottom: 1%;
}

.meettheteam p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 1rem;
    color: #147256;
    margin-left: 2rem;
    margin-right: 2rem;
}

/**cofounders meet**/

.meetteam{
    width: 100%;
    margin: auto;
    text-align:center;
    padding-top: 40px; 
    background-color: #F4EFEC;
}

.meetteam h1{
    text-align: left;
    padding-left: 2rem;
    font-family: 'Kumbh Sans', sans-serif;
    color: #147256;
    padding-bottom: 3%;

}

p{
    color:#187257;
    font-size:14px;
    font-weight:300;
    line-height:22px;
    padding:10px;

}

.meet{
    margin: top 20%;
    display:flex;
    justify-content: space-evenly;
    
}

.meet-col img{
    max-width: 200px;
    max-height: 200px;
    justify-content: space-evenly;
}

.meet-col{
    flex-basis:31%;
    background-color: #F4EFEC;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 0px;
    box-sizing:border-box;
    transition:0.5s;
}

.meet-col h3{
    color: #187257;
}

h3{
    text-align:center;
    font-weight:600;
    margin: 10px 0;

}

@media(max-width:700px){
    .meet{
        flex-direction:column;
    }
}

/**exec board meet**/

.meetteam2{
    width: 100%;
    margin: auto;
    text-align:center;
    padding-top: 40px; 
    background-color: #F4EFEC;
}

.meetteam2 h1{
    text-align: left;
    padding-left: 2rem;
    font-family: 'Kumbh Sans', sans-serif;
    color: #147256;
    padding-bottom: 3%;

}

p{
    color:#187257;
    font-size:14px;
    font-weight:300;
    line-height:22px;
    padding:10px;

}

.meet2{
    margin: top 20%;
    display:flex;
    justify-content: space-evenly;
    
}

.meet2-col img{
    max-width: 200px;
    max-height: 200px;
    justify-content: space-evenly;
}

.meet2-col{
    flex-basis:31%;
    background-color: #F4EFEC;
    border-radius:10px;
    margin-bottom:1%;
    padding:20px 0px;
    box-sizing:border-box;
    transition:0.5s;
}

.meet2-col h3{
    color: #187257;
}

h3{
    text-align:center;
    font-weight:600;
    margin: 10px 0;

}

@media(max-width:700px){
    .meet2{
        flex-direction:column;
    }
}

/**exec board 2 meet**/

.meetteam3{
    width: 100%;
    margin: auto;
    text-align:center;
    padding-top: 0px; 
    background-color: #F4EFEC;
}

.meetteam3 h1{
    text-align: left;
    padding-left: 2rem;
    font-family: 'Kumbh Sans', sans-serif;
    color: #147256;
    padding-bottom: 3%;

}

p{
    color:#187257;
    font-size:14px;
    font-weight:300;
    line-height:22px;
    padding:0px;

}

.meet3{
    margin: top 50%;
    display:flex;
    justify-content: space-evenly;
    
}

.meet3-col img{
    max-width: 200px;
    max-height: 200px;
    justify-content: space-evenly;
}

.meet3-col{
    flex-basis:31%;
    background-color: #F4EFEC;
    border-radius:10px;
    margin-bottom:8%;
    padding:20px 0px;
    box-sizing:border-box;
    transition:0.5s;
}

.meet3-col h3{
    color: #187257;
}

h3{
    text-align:center;
    font-weight:600;
    margin: 10px 0;

}

@media(max-width:700px){
    .meet3{
        flex-direction:column;
    }
}

/**highlights page**/

.highlights{
    background-color: #F4EFEC;
    padding-bottom: 4%;
}

.highlights h1{
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    padding-top: 3%;
    font-size: 3rem;
    color: #147256;
    padding-bottom: 1%;
}

.highlights p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 1rem;
    color: #147256;
    padding-left: 2rem;
    padding-right: 2rem;
}

.highlights1{
    background-color: #F4EFEC;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    font-family: 'Kumbh Sans', sans-serif;
    color: #187257;
    padding-top: 1%;
    line-height: 23px;
    padding-bottom: 5%;
    transition: 0.3s;
    padding-right: 3rem;

}

.highlights1 img {
    max-width: 300px;
    max-height: 300px;
    float: left;
    border:#187257;
    border-radius: 1rem;
    margin-right: 3%;
    margin-top: 2rem;
    padding-left: 2%;
}

.highlights1 .textbox{
    margin-right: 4rem;
    margin-top: 6rem;
}

.highlights1 .textbox h1{
    font-family: 'Kumbh Sans', sans-serif;
    color: #147256;
    font-size: 2.5rem;
    width: 90%;
}

.highlights1 .textbox p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #147256;
    line-height: 1.5rem;
    font-size: 0.9rem;
    padding-right: 2rem;

}

.highlights1:hover{
    transform: scale(1.025);
}

@media(max-width:700px){
    .highlights1{
        flex-direction:column;
    }
}



/**contact form**/

.contact__container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 0fr;
    column-gap: 5px;
    background-color: #F4EFEC;
    padding-bottom: 11%;
}

.contact__text h1{
    font-family: 'Kumbh Sans', sans-serif;
    color: #187257;
    font-size: 3rem;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 6%;
}

.contact__text p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #187257;
    padding-left: 6%;

}

.contact__image img{
    max-width: 100%;
    height: auto;
    padding: 0 50px;
    max-height: 300px;
}

@media(max-width:700px){
    .contact__image img{
        flex-direction:column;
    }
}







/**home footer**/

.footer__container{
    background-color: #147256;
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
    color: #FEDFE7;
    text-decoration: none;

}

.footer__links--items h2{
    font-family: 'Kumbh Sans', sans-serif;
    padding-bottom: 0.8rem;
    text-decoration: underline;
}


.footer__links--items a{
    color:#FEDFE7;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
}

.footer__links--items p{
    color: #FEDFE7;
    font-size: 0.8rem;

}

.footer__links--items a:hover{
    text-decoration: underline;
}

    